# Google Apps Script Web App URL for contact form submissions
# Deploy script as Web App with access set to "Anyone"
CONTACT_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxBz7Wt5ptNXQZNKN6D5YN9VMLnn50172z
